# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment
.env
venv/
env/

# Models
*.pkl

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Logs
*.log
